SQLINSERTEMAIL TEXT Files\SQLINSERTEMAIL.qry
SQLMARKOLDMESSAGES TEXT Files\SQLMARKOLDMESSAGES.qry
SQLLoadQueue TEXT Files\SQLLoadQueue.QRY
SQLUPDATEStatusCurrentRecord TEXT Files\SQLUPDATEStatusCurrentRecord.qry
SQLDeleteOldMessages TEXT Files\SQLDeleteOldMessages.qry
SQLFAULTRECOVERY TEXT Files\SQLFAULTRECOVERY.qry 
 